.header {
    display: flex;
    justify-content: space-between; /* 공간을 균등하게 배분 */
    align-items: center; /* 아이템을 수직 가운데 정렬 */
    padding: 20px;
}

.logo-container {
    margin-right: auto; /* 로고를 왼쪽에 고정 */
    padding: 15px;
}

.logo {
    height: 50px; /* 로고의 높이 조정 */
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li {
    margin-right: 20px;
    position: relative;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative; /* 의존적 위치 설정 */
    transition: color 0.3s ease;
}

.nav a:hover {
    color: teal; /* 마우스 오버 시 색상 변경 */
}

.nav a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%; /* 동그라미 모양 */
    background: teal; /* 동그라미 색상 */
    position: absolute;
    left: 50%;
    bottom: -11px; /* 텍스트 아래에 위치 */
    transform: translateX(-15px); /* 텍스트 중간에서 왼쪽으로 이동 */
    opacity: 0;
    transition: opacity 0.3s;
}

.nav a:hover::before {
    opacity: 1; /* 마우스 오버 시 동그라미 표시 */
}

.nav a::after {
    content: '';
    display: block;
    width: 0;
    border-radius: 20%;
    height: 3px; /* 밑줄 높이 설정 */
    background: teal; /* 밑줄 색상 */
    position: absolute;
    left: 50%; /* 텍스트 중간에 밑줄 시작 */
    bottom: -10px; /* 밑줄을 텍스트 아래에 위치 */
    transform: translateX(0); /* 텍스트 중간에서 밑줄 시작 */
    transition: width 0.3s;
}

.nav a:hover::after {
    width: 20px; /* 마우스 오버 시 밑줄 너비 확장 */
}

.login {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.login a {
    margin-right: 10px;
    text-decoration: none;
    color: #0639A3;
}

.login span {
    margin-left: -10px;
    margin-right: 5px;
}

.settings-icon {
    font-size: 20px;
}